body{
    background-color: antiquewhite;
    background-image: url(https://platform895116.site.live/img/D6jAQ-goZ6s-GAt1Y-t6mRR-te93D.jpeg);
    background-attachment: fixed;
    background-size: 50%;
    
}
button{
    background-image: url(https://platform895116.site.live/img/D6jAQ-goZ6s-GAt1Y-t6mRR-te93D.jpeg);
    background-color: honeydew;
}
#aa{
    margin-right: 0%;
    margin-left: 0%;
}